# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Test
coverage

# Env
.env.local
.env.*.local

# Analyze
stats.html

# TypeScript
*.tsbuildinfo
tsc-build


# Cache
.*cache
